<div class="container">
	<div class="clearfix">
		<span class="pull-right main-label">Crowd Control</span>
		<ul class="nav nav-tabs">
        	{{#link-to "foundation" tagName="li"}}<a href="#">Foundation List</a>{{/link-to}}
        	{{#link-to "guestRequests" tagName="li"}}<a href="#">Guest Requests</a>{{/link-to}}
        	{{#link-to "djCharts" tagName="li"}}<a href="#">DJ Charts</a>{{/link-to}}
	    </ul>
	</div>
	{{outlet}}
	<div class="footer">
		<p>&copy; Erika 2014</p>
	</div>
</div>