<div class="header" style="margin-top:19px;">
	<div class="pull-right menu-items">
		<div class="btn-group">
		  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		    	Show me <span class="caret"></span>
		  	</button>
		  	<ul class="dropdown-menu" role="menu">
		  		<li><a href="#" {{action "clickShowAllSongs"}}>All Songs</a></li>
		  		<li><a href="#" {{action "clickShowPlays"}}>Just Plays</a></li>
		    	<li><a href="#" {{action "clickShowNays"}}>Just Nays</a></li>
		  	</ul>
		</div>
		<button type="button" class="btn btn-default">Print</button>
	</div>
	<h3 class="pb0">See what your guests picked</h3>
	<p>Here's a list of what your guests requested, thumbs up or veto them
</div>